<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta charset="UTF-8">
	<title>#hedofood SPA</title>    
	<link rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
	<div class="screen">
		<div class="top">
			<a href="" class="top__button top__button_back"></a>
			<p class="screen__name">Наши контакты</p>			
		</div>
		<div class="menu">
			<div class="menu-set">
				<p class="caption">Связь с оператором</p>
				<a class="menu-item menu-item__icon menu-item__icon_phone" href="">8 (800) 567-37-84</a>
			</div>
			
			<div class="menu-set">
				<p class="caption">Социальные сети и мессенджеры</p>
				<a class="menu-item menu-item__soc" href=""><img src="images/soc-inst.svg" alt=""> Instagram</a>
				<a class="menu-item menu-item__soc" href=""><img src="images/soc-fb.svg" alt=""> Facebook</a>
				<a class="menu-item menu-item__soc" href=""><img src="images/soc-vk.svg" alt=""> Вконтакте</a>

			</div>
			
		</div>
	</div>		
	<script src="js/jquery-3.3.1.min.js"></script>  
	<script src="js/owl.carousel.min.js"></script>  
	<script src="js/script.js"></script>	
</body>
</html>
