<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta charset="UTF-8">
	<title>#hedofood SPA</title>    
	<link rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
	<div class="screen screen_rations">
		<div class="top">
			<a href="" class="top__button top__button_menu"></a>
			<p class="screen__name">Выберите рацион</p>
		</div>
		<div class="owl-carousel rations-carousel">
			<div>
				<div class="rations__item">
					<div class="rations__item-icon rations__item-icon_1"></div>
					<div class="rations__item-content">
						<p>рацион</p>
						<p class="rations__item-name">Стандартный</p>
						<p>Пятиразовое питание <br/>для поддержания оптимальной формы <br>
						при активных тренировках</p>
						<p class="rations__item-price">4700 <span>руб./<br/>сутки</span></p>
						<a href="" class="button">Хочу это меню!</a>
					</div>
				</div>
			</div>
			<div>
				<div class="rations__item">
					<div class="rations__item-icon rations__item-icon_2"></div>
					<div class="rations__item-content">
						<p>рацион</p>
						<p class="rations__item-name">Вегетарианский</p>
						<p>Пятиразовое питание <br/>для поддержания оптимальной формы <br>
						при активных тренировках</p>
						<p class="rations__item-price">4700 <span>руб./<br/>сутки</span></p>
						<a href="" class="button">Хочу это меню!</a>
					</div>
				</div>
			</div>
			<div>
				<div class="rations__item">
					<div class="rations__item-icon rations__item-icon_3"></div>
					<div class="rations__item-content">
						<p>рацион</p>
						<p class="rations__item-name">Детский</p>
						<p>Пятиразовое питание <br/>для поддержания оптимальной формы <br>
						при активных тренировках</p>
						<p class="rations__item-price">4700 <span>руб./<br/>сутки</span></p>
						<a href="" class="button">Хочу это меню!</a>
					</div>
				</div>
			</div>
		</div>
	</div>		
	<script src="js/jquery-3.3.1.min.js"></script>  
	<script src="js/owl.carousel.min.js"></script>  
	<script src="js/script.js"></script>	
</body>
</html>
