<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta charset="UTF-8">
	<title>#hedofood SPA</title>    
	<link rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
	<div class="screen">
		<div class="top">
			<a href="" class="top__button top__button_back"></a>
			<p class="screen__name">Мои заказы</p>			
		</div>
		<div class="menu">
			<div class="lk__orders">
				<p class="caption">Текущие заказы</p>
				
				<div class="lk__order has-button">
					<div class="lk__order-head">
						<div>
							<p class="lk__order-num"><span>№</span> 562789</p>
							<p class="lk__order-date">от 12 апреля 2019</p>
						</div>
						<div>
							<p class="lk__order-status lk__order-status_wait">Ожидает оплаты</p>
							<p class="lk__order-sum">1290 руб.</p>
						</div>
						<a href="" class="lk__order-toggler"></a>
					</div>
					<div class="lk__order-body">
						
						<div class="lk__order-items">
							<div class="lk__order-item">
								<div>
									<p>Вегетарианский 1700 Ккал</p>
									<p>6 дней <span class="lk__order-item-price">1290 руб.</span></p>
								</div>
							</div>
							<div class="lk__order-item">
								<div>
									<p>Вегетарианский 1700 Ккал</p>
									<p>6 дней <span class="lk__order-item-price">1290 руб.</span></p>
								</div>
							</div>
							<div class="lk__order-item">
								<div>
									<p>Вегетарианский 1700 Ккал</p>
									<p>6 дней <span class="lk__order-item-price">1290 руб.</span></p>
								</div>
							</div>
							
						</div>
						<div class="lk__order-itogo">
							<p>Подсумма <span class="lk__order-delivery-body-price">5160 руб.</span></p>
							<p>Скидка по промокоду <span class="discount">-10%</span> <span class="discount lk__order-delivery-body-price">-598 руб.</span></p>
							<p>Какая-то дополнительная услуга <span class="lk__order-delivery-body-price">228 руб.</span></p>

							<p class="lk__order-total">Итого <span class="lk__order-delivery-body-price">4798 руб.</span></p>
							<a href="" class="button">Оплатить</a>
						</div>

					</div>
					<div class="lk__order-footer">
						<div class="lk__order-counts">
							<span>3</span>Рациона
						</div>
						<a href="" class="button">Оплатить</a>
					</div>
				</div>

				<div class="lk__order has-button">
					<div class="lk__order-head">
						<div>
							<p class="lk__order-num"><span>№</span> 562789</p>
							<p class="lk__order-date">от 12 апреля 2019</p>
						</div>
						<div>
							<p class="lk__order-status lk__order-status_wait">Ожидает оплаты</p>
							<p class="lk__order-sum">1290 руб.</p>
						</div>
						<a href="" class="lk__order-toggler"></a>
					</div>
					<div class="lk__order-body">
						
						<div class="lk__order-items">
							<div class="lk__order-item">
								<div>
									<p>Вегетарианский 1700 Ккал</p>
									<p>6 дней <span class="lk__order-item-price">1290 руб.</span></p>
								</div>
							</div>
							
						</div>
						<div class="lk__order-itogo">
							<p>Подсумма <span class="lk__order-delivery-body-price">5160 руб.</span></p>
							<p>Скидка по промокоду <span class="discount">-10%</span> <span class="discount lk__order-delivery-body-price">-598 руб.</span></p>
							<p>Какая-то дополнительная услуга <span class="lk__order-delivery-body-price">228 руб.</span></p>

							<p class="lk__order-total">Итого <span class="lk__order-delivery-body-price">4798 руб.</span></p>
							<a href="" class="button">Оплатить</a>
						</div>

					</div>
					<div class="lk__order-footer">
						<div class="lk__order-counts">
							<span>3</span>Рациона
						</div>
						<a href="" class="button">Оплатить</a>
					</div>
				</div>


				<p class="caption">Завершенные заказы</p>

				<div class="lk__order">
					<div class="lk__order-head">
						<div>
							<p class="lk__order-num"><span>№</span> 562789</p>
							<p class="lk__order-date">от 12 апреля 2019</p>
						</div>
						<div>
							<p class="lk__order-status lk__order-status_done">Выполнен</p>
							<p class="lk__order-sum">1290 руб.</p>
						</div>
						<a href="" class="lk__order-toggler"></a>
					</div>
					<div class="lk__order-body">
						
						<div class="lk__order-items">
							<div class="lk__order-item">
								<div>
									<p>Вегетарианский 1700 Ккал</p>
									<p>6 дней <span class="lk__order-item-price">1290 руб.</span></p>
								</div>
							</div>
							
						</div>
						<div class="lk__order-itogo">
							<p>Подсумма <span class="lk__order-delivery-body-price">5160 руб.</span></p>
							<p>Скидка по промокоду <span class="discount">-10%</span> <span class="discount lk__order-delivery-body-price">-598 руб.</span></p>
							<p>Какая-то дополнительная услуга <span class="lk__order-delivery-body-price">228 руб.</span></p>

							<p class="lk__order-total">Итого <span class="lk__order-delivery-body-price">4798 руб.</span></p>
					
						</div>

					</div>
					
				</div>			
			</div>				
		</div>
	</div>		
	<script src="js/jquery-3.3.1.min.js"></script>  
	<script src="js/owl.carousel.min.js"></script>  
	<script src="js/script.js"></script>	
</body>
</html>
