<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta charset="UTF-8">
	<title>#hedofood SPA</title>    
	<link rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
	<div class="screen">
		<div class="top">
			<a href="" class="top__button top__button_back"></a>
			<p class="screen__name">Наши контакты</p>			
		</div>
		<div class="menu">
			<div class="menu-set">			
				<a class="menu-item menu-item__icon menu-item__icon_name" href="">Евлампий</a>
				<a class="menu-item menu-item__icon menu-item__icon_orders" href="">Мои заказы</a>
				<a class="menu-item menu-item__icon menu-item__icon_city" href="">Мой город <span>Москва</span></a>
				<a class="menu-item menu-item__icon menu-item__icon_locations" href="">Мои адреса</a>
				<a class="menu-item menu-item__icon menu-item__icon_faq" href="">Мои адреса</a>
				<a class="menu-item menu-item__icon menu-item__icon_contacts" href="">Наши контакты</a>
			</div>
			
			<a href="" class="button button_bottom">+ Новый заказ</a>			
		</div>
	</div>		
	<script src="js/jquery-3.3.1.min.js"></script>  
	<script src="js/owl.carousel.min.js"></script>  
	<script src="js/script.js"></script>	
</body>
</html>
