<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta charset="UTF-8">
	<title>#hedofood SPA</title>    
	<link rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
	<div class="screen">
		<div class="top">
			<a href="" class="top__button top__button_back"></a>
			<p class="screen__name">Мои данные</p>
			<a href="" class="top-button">Сохранить</a>
		</div>
		<div class="menu">
			<div class="menu-set">
				<p class="caption">Личные данные</p>
				<div class="input-wrap input-wrap_simple">
					<input type="text" placeholder="Имя">
				</div>
				<div class="input-wrap input-wrap_simple">
					<input type="text" placeholder="Фамилия">
				</div>
				<a class="menu-item menu-item-simple_arrow" href="">Дата рождения</a>
				<a class="menu-item menu-item-simple_arrow" href="">Пол</a>
			</div>
			<div class="menu-set">
				<p class="caption">Контактные данные</p>
				<div class="input-wrap input-wrap_simple">
					<input type="text" placeholder="Телефон">
				</div>
				<div class="input-wrap input-wrap_simple">
					<input type="text" placeholder="E-mail">
				</div>
				
			</div>
		</div>
	</div>		
	<script src="js/jquery-3.3.1.min.js"></script>  
	<script src="js/owl.carousel.min.js"></script>  
	<script src="js/script.js"></script>	
</body>
</html>
