<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta charset="UTF-8">
	<title>#hedofood SPA</title>    
	<link rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
	<div class="screen">
		<div class="top">
			<a href="" class="top__button top__button_back"></a>
			<p class="screen__name">FAQ</p>
		</div>
		<div class="menu">
			
			<p class="accordion-title">Hédofood</p>
			
			<div class="accordion">
				<a class="accordion-toggler">Кто мы?</a>	
				<div>
					<p>Мы готовим разнообразное меню на каждый день и доставляем его бесплатно в любую точку города, вы наслаждаетесь вкусной едой каждый день и получаете прекрасное настроение, которое используете для совершения благородных поступков и успешного решения важнейших жизненных задач, что в свою очередь привносит новые Блага в вашу жизнь, едлая ее насыщенной, яркой и полной. Таким образом еда от Hédofood, без преувеличения, способствует улучшению всей вашей жизни!</p>
				</div>
			</div>

			<div class="accordion">
				<a class="accordion-toggler">Как это работает?</a>	
				<div>
					<p>Мы готовим разнообразное меню на каждый день и доставляем его бесплатно в любую точку города, вы наслаждаетесь вкусной едой каждый день и получаете прекрасное настроение, которое используете для совершения благородных поступков и успешного решения важнейших жизненных задач, что в свою очередь привносит новые Блага в вашу жизнь, едлая ее насыщенной, яркой и полной. Таким образом еда от Hédofood, без преувеличения, способствует улучшению всей вашей жизни!</p>
				</div>
			</div>

			<p class="accordion-title">Меню</p>

			<div class="accordion">
				<a class="accordion-toggler">Какие есть линейки</a>	
				<div>
					<p>Мы готовим разнообразное меню на каждый день и доставляем его бесплатно в любую точку города, вы наслаждаетесь вкусной едой каждый день и получаете прекрасное настроение, которое используете для совершения благородных поступков и успешного решения важнейших жизненных задач, что в свою очередь привносит новые Блага в вашу жизнь, едлая ее насыщенной, яркой и полной. Таким образом еда от Hédofood, без преувеличения, способствует улучшению всей вашей жизни!</p>
				</div>
			</div>

			<div class="accordion">
				<a class="accordion-toggler">В каком виде я получу еду?</a>	
				<div>
					<p>Мы готовим разнообразное меню на каждый день и доставляем его бесплатно в любую точку города, вы наслаждаетесь вкусной едой каждый день и получаете прекрасное настроение, которое используете для совершения благородных поступков и успешного решения важнейших жизненных задач, что в свою очередь привносит новые Блага в вашу жизнь, едлая ее насыщенной, яркой и полной. Таким образом еда от Hédofood, без преувеличения, способствует улучшению всей вашей жизни!</p>
				</div>
			</div>

			<div class="accordion">
				<a class="accordion-toggler">Очень длинная предлинная фраза минимум в три строчка о том В каком виде я получу еду?</a>	
				<div>
					<p>Мы готовим разнообразное меню на каждый день и доставляем его бесплатно в любую точку города, вы наслаждаетесь вкусной едой каждый день и получаете прекрасное настроение, которое используете для совершения благородных поступков и успешного решения важнейших жизненных задач, что в свою очередь привносит новые Блага в вашу жизнь, едлая ее насыщенной, яркой и полной. Таким образом еда от Hédofood, без преувеличения, способствует улучшению всей вашей жизни!</p>
				</div>
			</div>

			<p class="accordion-title">Меню</p>

			<div class="accordion">
				
				<a class="accordion-toggler">Очень длинная предлинная фраза о том В каком виде я получу еду?</a>	
				<div>
					<p>Мы готовим разнообразное меню на каждый день и доставляем его бесплатно в любую точку города, вы наслаждаетесь вкусной едой каждый день и получаете прекрасное настроение, которое используете для совершения благородных поступков и успешного решения важнейших жизненных задач, что в свою очередь привносит новые Блага в вашу жизнь, едлая ее насыщенной, яркой и полной. Таким образом еда от Hédofood, без преувеличения, способствует улучшению всей вашей жизни!</p>
				</div>
			</div>

			<div class="accordion">
				<a class="accordion-toggler">В каком виде я получу еду?</a>	
				<div>
					<p>Мы готовим разнообразное меню на каждый день и доставляем его бесплатно в любую точку города, вы наслаждаетесь вкусной едой каждый день и получаете прекрасное настроение, которое используете для совершения благородных поступков и успешного решения важнейших жизненных задач, что в свою очередь привносит новые Блага в вашу жизнь, едлая ее насыщенной, яркой и полной. Таким образом еда от Hédofood, без преувеличения, способствует улучшению всей вашей жизни!</p>
				</div>
			</div>

			<p class="accordion-title">Меню</p>

			<div class="accordion">
				<a class="accordion-toggler">Какие есть линейки</a>	
				<div>
					<p>Мы готовим разнообразное меню на каждый день и доставляем его бесплатно в любую точку города, вы наслаждаетесь вкусной едой каждый день и получаете прекрасное настроение, которое используете для совершения благородных поступков и успешного решения важнейших жизненных задач, что в свою очередь привносит новые Блага в вашу жизнь, едлая ее насыщенной, яркой и полной. Таким образом еда от Hédofood, без преувеличения, способствует улучшению всей вашей жизни!</p>
				</div>
			</div>

			<div class="accordion">
				<a class="accordion-toggler">В каком виде я получу еду?</a>	
				<div>
					<p>Мы готовим разнообразное меню на каждый день и доставляем его бесплатно в любую точку города, вы наслаждаетесь вкусной едой каждый день и получаете прекрасное настроение, которое используете для совершения благородных поступков и успешного решения важнейших жизненных задач, что в свою очередь привносит новые Блага в вашу жизнь, едлая ее насыщенной, яркой и полной. Таким образом еда от Hédofood, без преувеличения, способствует улучшению всей вашей жизни!</p>
				</div>
			</div>

		</div>
	</div>		
	<script src="js/jquery-3.3.1.min.js"></script>  
	<script src="js/owl.carousel.min.js"></script>  
	<script src="js/script.js"></script>	
</body>
</html>
